::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.13);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 6px 6px 6px  #61dafb;
}